<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title"><i class="fas fa-arrow-circle-up"></i> Uptime</h2>
                <p class="content">Ensure your servers are staying online.</p>
            </div>

            <div class="column">
                <h2 class="title"><i class="fas fa-globe"></i> Connectivity</h2>
                <p class="content">Check the network status of your devices.</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h2 class="title"><i class="fas fa-hdd"></i> Storage</h2>
                <p class="content">Monitor the usage of disk space.</p>
            </div>

            <div class="column">
                <h2 class="title"><i class="fas fa-signal"></i> Load</h2>
                <p class="content">Track CPU and memory utilization.</p>
            </div>
        </div>
    </div>
</section>